<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Chinese Restaurant</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-default" role="navigation" data-ng-include data-src="'/app/views/top-navigation.html'" style="margin-top: -50px;"></nav>
<div class="container body-content">
    <div id="spinner" style="display: none; margin-top: 10px;">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
    </div>
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Chinese Restaurant</p>
    </footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrapui")
    @Scripts.Render("~/bundles/swaksoft")
    @Scripts.Render("~/bundles/app")

    @RenderSection("Scripts", required: false)
</body>
</html>
